/* Exclusive club Benefits */

.exclusiveclub p.numheading{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    /* identical to box height, or 105% */
    
    text-transform: uppercase;
    
    color: #122051;
    
  
  }
  .exclusivebenefit h3.heading {
    /* padding: 0% 0 0 5%; */
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.04em;
    color:#122051;
    padding-top: 80px;
}
.exclusivebenefit{
    margin-bottom: 120px;
    padding-bottom: 30px;
}
  .exclusiveclub p.exclusive-para{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */
    text-transform: lowercase;
    color: #122051;
    margin-top: -10px;
  }
  .exclusiveclub .para-margin{
    margin-top: 90px;
  }

  /* For 480 Resolution */  
@media only screen  and (min-device-width : 320px) and (max-device-width : 640px)  { 
/* .exclusivebenefit .desktop-view{
  display: none;
} */
/* .exclusivebenefit .para-margin{
  text-align: left;
   margin-left: -40px; 
  
   margin-top: 60px;
}
.exclusivebenefit .numheading,.exclusivebenefit .exclusive-para{
  font-weight: 700 !important;
font-size: 14px !important;
line-height: 15px !important;
} */

}

@media  (min-width: 1030px)  and (max-width: 1670px)  
{ 
  .exclusivebenefit .mobile-view{
    display: none;
  }

} 